*{
    padding: 0%;
    margin: 0;
    box-sizing: border-box;
    

}

html{
    overflow: hidden;
}

#wrapper{
    background-color: rgb(255, 255, 255);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}


.container{
    /* background-color: antiquewhite; */
    height: 400px;
    width: 400px;
    animation: anims 55s linear infinite;
}



.box{
    filter: blur(100px);
    position: relative;
    background-color: rgb(0, 51, 255);
    height: 100px;
    width: 200px;
    
    /* border-radius: 25px; */
    /* transition: all ease-in-out 5ms ; */
    /* transform: rotate(50deg); */
}

.box{
    /* filter: blur(100px); */
    position: relative;
    background-color: rgb(0, 51, 255);
    height: 100px;
    width: 200px;
    
    /* border-radius: 25px; */
    /* transition: all ease-in-out 5ms ; */
    /* transform: rotate(50deg); */
}

@keyframes anims {
    0%{
        transform: rotate(0deg);
    }

    25%{
        transform: rotate(90deg) ;
    }

    50%{
        transform: rotate(180deg) ;
    }

    75%{
        transform: rotate(270deg);
    }

    100%{
        transform: rotate(360deg);
    }
} 

.ball {
    width: 100px;
    height: 100px;
    background-color: #db34c2;
    border-radius: 50%;
    position: absolute;
    filter: blur(50px);
    animation: move 59s linear infinite;
  }

  @keyframes move {
    0% {
      transform: translate(0, 0);
    }
    25% {
      transform: translate(50vw, 0);
    }
    50% {
      transform: translate(30vw, 80vh);
    }
    75% {
      transform: translate(0, 50vh);
    }
    100% {
      transform: translate(0, 0);
    }
  }